apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ing-{{ template "tangogql.name" . }}-{{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
{{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
{{- end }}
spec:
  ingressClassName: {{ .Values.ingress.ingressClassName }}
  rules:
  - http:
      paths:
      - path: {{ template "tangogql.ingress.pathPrefix" . }}/(db.*)
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ template "tangogql.name" . }}-{{ .Release.Name }}
            port:
              number: 5004
      - path: {{ template "tangogql.ingress.pathPrefix" . }}/(socket.*)
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ template "tangogql.name" . }}-{{ .Release.Name }}
            port:
              number: 5004
      {{- if .Values.ingress.host }}
      host: {{ .Values.ingress.host }}
      {{- end }}
  {{- with .Values.ingress.tls }}
  tls:
    {{- . | toYaml | nindent 4 }}
  {{- end }}
